---
/**
 * * These are alternating side cards with titles, text, and images
 * Recommend using 2 or 3 cards in a row
 */

// components
import FeatureCard from "@components/FeatureCard/FeatureCardSideImage.astro";

// images
import image1 from "@images/ex_1.png";
import image2 from "@images/ex_2.png";
import image3 from "@images/ex_3.png";

interface FeatureItem {
    image: ImageMetadata; // an imported image
    label: string; // colored text first
    title: string; // larger title second
    details: string; // text details third
}

// data
const featureData: FeatureItem[] = [
    {
        image: image1,
        label: "Experiencia y Trayectoria",
        title: " Hemos estado en el mercado por muchos a침os, respaldando la excelencia en eventos deportivos de todas las disciplinas.",
        details: `Eventos de cualquier alcance y dimensi칩n: Desde peque침as competencias locales, hasta eventos masivos de renombre, siempre brindando nuestros servicios con la misma dedicaci칩n y profesionalismo.`,
    },
    {
        image: image2,
        label: "Beneficios para Organizadores",
        title: "",
        details: `<ul class="list-disc pl-5 space-y-4">
                <li class="flex items-start">
                    <span class="mr-3 text-lg">游눺</span> 
                    <p class="">
                    <strong>Asesor칤a Profesional:</strong> Nuestro equipo de expertos est치 siempre disponible para brindarte asesor칤a y apoyo en la planificaci칩n y ejecuci칩n de tu evento.
                    </p>
                </li>
                <li class="flex items-start">
                    <span class="mr-3 text-lg">游꿛</span>
                    <p class="">
                    <strong>Personalizaci칩n Total:</strong> Sabemos lo importante que es la identidad de tu evento. Por eso puedes dise침ar desde la placa o dorsal hasta el certificado de participaci칩n de los finishers. 춰Cada detalle reflejar치 la esencia de tu carrera!
                    </p>
                </li>
                <li class="flex items-start">
                    <span class="mr-3 text-lg">游닊</span>
                    <p class="">
                    <strong>Promoci칩n en Redes:</strong> A trav칠s de nuestras redes sociales y plataformas, promocionamos tu evento para aumentar la participaci칩n y visibilidad.
                    </p>
                </li>
                </ul>`,
    },
    {
        image: image3,
        label: "Beneficios para Participantes",
        title: "",
        details: `<ul class="list-disc pl-5 space-y-4">
        <li class="flex items-start">
        <span class="mr-3 text-lg">游닆</span> 
        <p class="">
        <strong>Certificados Personalizados:</strong> Cada finisher tendr치 un certificado de participaci칩n personalizado, que podr치n descargar f치cilmente desde nuestra plataforma.
        </p>
        </li>
        <li class="flex items-start">
         <span class="mr-3 text-lg">游닞</span> 
        <p class="">
        <strong>Galer칤a de Fotos o Video:</strong> Capturamos algunos de los mejores momentos de la competencia y los compartimos en nuestras redes sociales para que los participantes revivan la emoci칩n de su logro.
        </p>
        </li>
        <li class="flex items-start">
         <span class="mr-3 text-lg">游댍</span> 
        <p class="">
        B칰squeda precisa en las tablas de resultados por tiempo, dorsal, placa, nombre, distancia, etc.
        </p>
        </li>
       </ul>`,
    },
];
---

<section id="feature4" class="my-24 overflow-clip md:my-36">
    <div class="site-container">
        <div class="flex flex-col gap-16 md:gap-24">
            {
                featureData.map((feature, idx) => (
                    <FeatureCard
                        label={feature.label}
                        title={feature.title}
                        details={feature.details}
                        image={feature.image}
                        imageSide={idx % 2 === 0 ? "right" : "left"}
                    />
                ))
            }
        </div>
    </div>
</section>
