---
import { Icon } from "astro-icon/components";

// components
import Pricing2 from "@components/Pricing2.astro";

// utils
import { getLocaleFromUrl } from "@js/localeUtils";
import { useTranslations } from "@js/translationUtils";

const currLocale = getLocaleFromUrl(Astro.url);
const t = useTranslations(currLocale);
---

<section
    id="hero2"
    class="relative flex w-full overflow-hidden pb-12 pt-32 md:pb-26 md:pt-40 sm:pt-32"
>
    <!-- background glow -->
    <div
        class="absolute inset-x-0 bottom-0 -z-10 mx-auto aspect-square w-[85%] max-w-sm translate-x-1/4 translate-y-3/4 rounded-full bg-primary-400/40 blur-3xl"
        aria-hidden="true"
    >
    </div>

    <div
        class="absolute bottom-0 right-0 -z-10 mx-auto aspect-square w-[85%] max-w-sm translate-x-1/4 translate-y-1/2 rounded-full bg-primary-600/30 blur-3xl"
        aria-hidden="true"
    >
    </div>
    <!-- hero items -->

    <div class="mx-auto max-w-4xl gap-8 text-center">
        <h1
            class="bg-gradient-to-r from-base-900 to-base-600/90 bg-clip-text pb-4 text-5xl font-medium text-transparent md:text-6xl dark:from-base-100 dark:to-base-400/90"
            data-aos="fade-up"
        >
            Los Andes Trail
        </h1>
        <div class="flex items-center justify-center" data-aos="fade-up" >
            <Icon name="tabler/map-pin" class="h-5 w-5"/>
            <span class="ml-2">Andes, Antioquia, Colombia.</span>
        </div>
        <div class="flex items-center justify-center" data-aos="fade-up" >
            <Icon name="tabler/calendar-dots" class="h-5 w-5" />
            <span class="ml-2">2024-11-07</span>
        </div>
    </div>
</section>
