---
/**
 * * Logo cloud section marquee
 *
 * These are taken from the src/icons folder. You may desire to modify any SVGs you use to have the fill set to "currentColor"
 * to use the current text color. That is how I have set up these icons for demo purposes
 *
 * There is a commented out script at the bottom. If you would like the marquee to pause on mouseover, uncomment it.
 */
import { Image } from "astro:assets";
const racesLogos = import.meta.glob("/src/assets/races/*.{png,jpg,jpeg}", {
    eager: true,
});
---

<section
    id="logocloud2"
    class="border-y border-base-300 py-4 h-40 dark:border-base-600/60"
>
    <div class="relative mx-auto max-w-[1800px] overflow-hidden px-4 h-full">
        <!-- left fade-out -->
        <div
            class="absolute -left-px top-0 z-10 h-full w-[20%] bg-gradient-to-r from-base-100 from-20% to-transparent dark:from-base-900"
        >
        </div>
        <!-- right fade-out -->
        <div
            class="absolute -right-px top-0 z-10 h-full w-[20%] bg-gradient-to-r from-transparent to-base-100 to-80% dark:to-base-900"
        >
        </div>

        <div
            class="logo-marquee relative flex gap-12 overflow-hidden h-full justify-center"
        >
            <!-- Each animate-marquee2 section needs to have the exact same icons. Just do one then copy / paste -->
            <div
                class="flex min-w-full shrink-0 animate-marquee2 items-center justify-around gap-12"
            >
                {
                    Object.values(racesLogos).map((logo) => (
                        <Image
                            src={(logo as { default: string }).default}
                            alt="Carrera logo"
                            loading="eager"
                            class="h-full w-auto"
                            aria-hidden="true"
                        />
                    ))
                }
            </div>

            <!-- Each animate-marquee2 section needs to have the exact same icons. Just do one then copy / paste -->
            <div
                aria-hidden="true"
                class="flex min-w-full shrink-0 animate-marquee2 items-center justify-around gap-12"
            >
                {
                    Object.values(racesLogos).map((logo) => (
                        <Image
                            src={(logo as { default: string }).default}
                            alt="Carrera logo"
                            loading="eager"
                            class="h-full w-auto"
                            aria-hidden="true"
                        />
                    ))
                }
            </div>
        </div>
    </div>
</section>

<style lang="scss">
    .logo {
        @apply h-10 w-auto;
    }
</style>
